body {
  margin: 0;
  font-family: 'Urbanist', sans-serif;
}
/* //PAYMENT */
.payButton{
  border:"none";
   width: 120px;
   border-radius: 5;
   padding: 20px;
   background-color:"black";
   color: "white";
   font-weight:600;
   cursor: pointer;
}
.div{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}